/* Navbar.js */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}
.header-bg{
    background-color: black;
    transition: 0.5s;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 0 1rem;
}
.nav-menu li a{
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-menu li a:hover {
    color: aqua;
    font-size: 1.3rem;
    transition: 0.5s;
}
.humburger{
    display: none;
}

/* HeroImg.js */
.mask{
    width: 1005;
    height: 100vh;
    position: relative;
}
.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}
.hero{
    height: 100%;
    width: 100%;
}
.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
} 
.hero .content h1{
    font-size: 4rem;
    padding: .6rem 0 1.5rem;
    color: rgb(138, 183, 183);
}
.hero .content p{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: rgb(4, 249, 249);
}
.content .btn{
    margin: 1rem .2rem;
}
/* Footer.js */
.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
    display: flex;
}
.footer.container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
}
.location p{
    line-height: 30px;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* margin-left: 27rem; */
}
.social{
    margin-top: 1rem;
}
h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p{
    font-weight: 200;
    font-size: 1.2rem;
}
/*HeroImg2*/
.hero-img{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
    position: relative;
}
.hero-img{
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img h1{
    font-size: 2.4rem;
}
.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}
/* workCard.js */
.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    padding-bottom: 5rem;
}
.project-card{
    background: black;
    padding: 1.2rem 1rem;
}
.project-card img{
    width: 100%;
}
.project-card:hover img{
    transform: scale(1.3);
    transition: 0.5s;
}
.project-title{
    color: wheat;
    padding: 1rem 0;
}
.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}
.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.pro-btns .btn{
    padding: 0.5rem 1rem;
}

/*AboutContent.js */
.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about .left p{
    margin: 1.2rem 0;
    text-align: left;
    font-family: sans-serif;
}
.about .right{
    max-width: 700px;
}
.right .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}
.right .img{
    max-width: 90%;
    border: 1px solid black;
}
.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}
.right .bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
}



/* form.js */
label{
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
}
form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: gray;
    border-color: burlywood;
    color: white;
}


/* nav.js */
@media screen and (max-width:1040px){
    .nav-menu{
        flex-direction: column;
        justify-content: center;   
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 1s;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 1rem 0;
    }
    .nav-menu li a{
        font-size: 2rem;
    }
    .humburger{
        display: initial;
    }
    .nav-menu li a:hover {
        color: aqua;
        font-size: 2.2rem;
        transition: 0.5s;
    }
}
/* HeroImg.js */
@media  screen and (max-width:640px) {
    .hero .content h1{
        font-size: 3rem;
    }
    .hero .content p{
        font-size: 1.4rem;
    }
}
/* Footer.js */
@media screen and (max-width:640px){
    .footer-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:640px) {
    .hero{
        font-size: 2rem;
    }
    .hero-img p{
        font-size: 1.4rem;
        text-align: center;
    }
}
/* workCard */
@media screen and (max-width:740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .project-card:hover img{
        transform: scale(1.1);
        transition: 0.5s;
    }
}